<section class="gallery">
    {{ $dir := .Get 0 }}
    {{ range (sort (readDir (printf "assets/%s" $dir)) "Name" "desc") }}
        {{ with resources.Get (printf "%s%s" $dir .Name) }}
            {{ $preview := .Resize "x480 webp" }}
            {{ $id := replace .Name "/" "-" }}
            <a href="#{{ $id }}" id="{{ $id }}">
                <img
                    src="{{ $preview.Permalink }}"
                    loading="lazy"
                    style="--full-url: url({{ .Permalink | safeCSS }})">
            </a>
        {{ end }}
    {{ end }}
    <a class="close" href="#">✕</a>
</section>